<table style="border-collapse:collapse;width:100%;max-width:600px" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
        <td style="padding:15px 10px 15px 10px">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:20px 20px 20px 20px;color:#ffffff;font-family:Arial,sans-serif;font-size:36px;font-weight:bold" align="center" bgcolor="#3f9ce8">Подтвердить почту</td>
    </tr>
    <tr>
        <td style="padding:40px 20px 40px 20px;color:#555555;font-family:Arial,sans-serif;font-size:20px;line-height:30px;border-bottom:1px solid #f6f6f6" align="center" bgcolor="#ffffff"><strong>Подтверждение регистрации.</strong></td>
    </tr>
    <tr>
        <td style="padding:30px 20px 30px 20px;font-family:Arial,sans-serif;border-bottom:1px solid #f6f6f6" align="center" bgcolor="#f6f7f9">
            <table border="0" cellspacing="0" cellpadding="0" bgcolor="#3f9ce8">
                <tbody>
                <tr>
                    <td style="padding:0 25px 0 25px;font-family:Arial,sans-serif;font-size:16px;font-weight:bold" align="center" height="50"><a style="color:#ffffff;text-align:center;text-decoration:none" href="{MAIN_URL}/verification/?token={token}" target="_blank">Активировать аккаунт</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:10px 20px 10px 20px;color:#555555;font-family:Arial,sans-serif;font-size:15px;line-height:24px" align="center" bgcolor="#dddddd">Перейдите по ссылке выше для подтверждения  аккаунта, если вы не регистрировались на данном ресурсе, закройте это письмо.</td>
    </tr>
    <tr>
        <td style="padding:15px 10px 15px 10px">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="color:#999999;font-family:Arial,sans-serif;font-size:12px" align="center" width="100%">© <a style="color:#3f9ce8" href="{MAIN_URL}" target="_blank">Подтвердить почту</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>